<h2>Who is Christian Lacerda?</h2>
<p style="text-align: center;">
    <img src="http://www.gravatar.com/avatar/dd9181c30c09952b672c089e97b84c86.png" alt="Christian Lacerda">
</p>
<p>A entrepreneur developer from Brazil living and working in different places around the world. He can be found on <a href="http://twitter.com/#!/christianlacerd">Twitter</a> or <a href="http://github.com/christianlacerda">GitHub</a>. Enjoyed the library? Share it on Twitter and if you find bugs, submit a pull request and improve it yourself.</p>
