{% include header.html %}

{% include banner.html %}

<div class="wrapper">

    {% include page-nav.html %}

    <section>
        <h1>What Is It</h1>

        <p>This is a Google Web Toolkit wrapper library for <a href="http://bootstraptour.com/">BootstrapTour</a> JavaScript project.
        </p>

        <h2>Setup</h2>

        <p>Download the library from the links above or if you are using Maven, just add GwtBootStrapTour to your pom.xml:</p>

        {% highlight xml  %}
 <dependency>
     <groupId>com.github.christianlacerda</groupId>
     <artifactId>gwt-bootstrap-tour</artifactId>
     <version>{{site.project_version}}</version>
 </dependency>
        {% endhighlight %}

        <p>Include GwtBootStrapTour in your *.gwt.xml:</p>

        {% highlight xml  %}
 <module>
     <!-- Other module inherits -->
     <inherits name="com.github.christianlacerda.GwtBootstrapTour"/>
 </module>
        {% endhighlight %}




        <h2>How to Use</h2>

        <p>Setting up your Tour is pretty simple, here is a example of using it from your GWT Entry Point:</p>
        {% highlight java  %}
public class MyProject implements EntryPoint  {

    @Override
    public void onModuleLoad() {
        Tour tour = Tour.create();

        Step firstStep = Step.create();
        first.setElement(textBox.getElement());
        first.setTitle("My First Title");
        first.setContent("Wellcome to my first Tour!")

        Step secondStep = Step.create();
        secondStep.setElement(textBoxTwo.getElement());
        secondStep.setTitle("Well done!");
        secondStep.setContent("You have walked through the tour")

        tour.addSteps(firstStep, secondStep);

        tour.init();
        tour.start();
    }
}
        {% endhighlight %}


        {% include christianlacerda.html %}

    </section>

    {{ content }}

    {% include footer.html %}

</div>